@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --secoundary: #b3b3b4;
    --secoundary-black: #272727;
    --primary: #ff3e6c;
    --gray-text: #535665;
    --success: green;
    --warning: #f9a61a;
    --danger: #f34648;
    --success-light: rgb(156, 216, 156);
    --warning-light: #f8e0b7;
    --danger-light: #f7b2b3;
}

body {
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
}

.component-heading {
    border-bottom: 2px solid var(--primary);
    width: fit-content;
}

.component-description {
    color: var(--gray-text);
    margin: 1rem 0;
}

.highlight {
    color: var(--primary);
}

.carbon-code iframe {
    margin: 0;
    width: 60%;
}

.list-container,
.notification-list-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 2px solid var(--secoundary);
    width: fit-content;
    margin: 1rem;
}

.list-container :not(:first-child) {
    border-top: 1px solid var(--secoundary);
}

.list-item {
    padding: 0.5rem;
    width: 10rem;
}

.list-active-item {
    background-color: var(--primary);
    color: white;
}

.avatar-shape-box {
    border-radius: 1.5rem;
}

.notification-list-item {
    display: flex;
    align-items: center;
    background-color: var(--gray-text);
    color: rgb(214, 212, 212);
}

.notification-icon-and-text {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    gap: 3px;
}

.notification-icon-and-text span {
    font-size: 0.9rem;
}

.notification-list-item {
    padding: 0 0.5rem 0 0;
    margin: 0.5rem;
    border: 1px solid var(--secoundary);
}

@media only screen and (max-width: 1000px) {
    .carbon-code iframe {
        margin: 0;
        width: 70%;
    }
}

@media only screen and (max-width: 550px) {
    .carbon-code iframe {
        width: 90%;
        margin: 1rem;
    }
}